{% extends "layout.html.twig" %}

{% block body %}
    {% spaceless %}
        <div id="app" class="app">
            <div id="map" class="map"></div>
            <div id="sidebar" class="sidebar"></div>
        </div>
    {% endspaceless %}
{% endblock %}